/*////////////////////////////////BODY/////////////////////////*/
.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -30px;
}

.section_title_bloc {
    display: flex;
    align-items: center;
    width: 4%;
}

.section_bloc_content {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 93%;
}

.section_bloc {
    display: flex;
    justify-content: center;
    height: auto;
    min-height: 100vh;
}

.btn_square {
position: absolute;
    background: aqua;
    width: 40px;
    height: 40px;
    z-index: 0;
    transition: 1s;
}

/*////////////////////////////////MENU/////////////////////////*/
#topbar {
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: thistle;
}

#topbar h1 {
    width: max-content;
    margin-right: auto;
    padding-left: 20px;
}

.navbar {
    width: 60%;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
}
.navbar li{
    width: 100px;
    height: 40px;
}
.navbar a {
    position: absolute;
    padding: 10px;
}

/*////////////////////////////////ACCUEIL/////////////////////////*/
#accueil_bloc {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkcyan;
}

.accueil_title_bloc {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    background-color: blanchedalmond;
    width: 35vw;
    height: 85vh;
}

.accueil_title_firstName {
    display: flex;
    width: 35%;
    height: 80%;
    background-color: cornflowerblue;
}

.accueil_title_firstName span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    margin: auto;
}

.accueil_title_dev {
    display: flex;
    width: 15%;
    height: 80%;
    background-color: cornflowerblue;
}

.accueil_title_dev h2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    margin: auto;
}

.accueil_title_lastName {
    display: flex;
    width: 35%;
    height: 80%;
    background-color: cornflowerblue;
}

.accueil_title_lastName span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    margin: auto;
}

.accueil_title_web {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 10%;
    background-color: cornflowerblue;
}

.accueil_title_web {
    margin: auto;
}

/*////////////////////////////////A PROPOS/////////////////////////*/
.section_title_content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
    height: 70vh;
    width: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.section_apropos_content {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 10px;
    background-color: teal;
}

.cv_btn {
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: -12px;
    right: 85px;
}

.cv_btn_square {
    position: absolute;
    background: aqua;
    width: 40px;
    height: 40px;
    z-index: 0;
}

.link_cv {
    position: absolute;
    z-index: 1;
    padding-left: 10px;
    padding-top: 5px;
}

/*////////////////////////////////SERVICES/////////////////////////*/
#services_bloc {
    background-color: darkcyan;
}

.section_services {
    flex-flow: column;
}
.services_article {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.services_square {
    width: 100px;
    height: 100px;
}

.services_crea_square {
    background-color: violet;
}

.services_seo_square {
    background-color: violet;
}

.services_secu_square {
    background-color: violet;
}

.services_media_square {
    background-color: violet;
}

.services_text {
    width: 70%;
    padding: 20px;
    background-color: white;
}

/*////////////////////////////////COMPETENCES/////////////////////////*/
#competences_bloc {
    height: 100vh;
    background-color: white;
}
.comp_tech_bloc {
    display: flex;
    justify-content: space-evenly;
    background-color: teal;
    width: 80%;
    height: 100%;
}

.comp_fw_bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: teal;
    width: 20%;
    height: 100%;
}

.comp_tech_content {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.comp_tech_img {
    width: 100%;
    height: 50%;
    background-color: violet;
}

.comp_tech_text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50%;
    background-color: white;
}

.comp_fw_content {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: 100px;
    background-color: violet;
}

.comp_fw_content h3 {
    font-size: 0.6em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
}

/*////////////////////////////////PORTEFOLIO/////////////////////////*/
#portefolio_bloc {
    height: 100vh;
    background-color: darkcyan;
}

.portefolio_current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70vh;
    background-color: thistle;
}

.portefolio_current img {
    width: 80%;
    height: 50%;
    background-color: wheat;
}

.portefolio_current article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 40%;
}

.portefolio_current a {
    position: absolute;
    padding: 10px;
}

.portefolio_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 50%;
    background-color: rgb(214, 156, 214);
    height: 70vh;
}

.portefolio_project {
    position: relative;
}

.portefolio_project img {
    width: 200px;
    height: 200px;
}

.portefolio_project figcaption {
    width: 200px;
    text-align: center;
}

/*////////////////////////////////CONTACT/////////////////////////*/
#contact_bloc {
    height: 100vh;
    background-color: white;
}
.section_bloc_content form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;  
    width: min-content;
    padding: 20px;
}
/*////////////////////////////////FOOTER/////////////////////////*/
footer {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: darkcyan;
}
#infos{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: center;
    height: 100%;
}
#social{
    display: flex;
    align-items: center;
}
.info{
    display: flex;
}