/*////////////////////////////////BODY/////////////////////////*/
html{
    scroll-behavior: smooth;
    color: white;
    font-size: 1.2em;
}
a{
    color: white;
}
.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -30px;
}

.section_title_bloc {
    display: flex;
    align-items: center;
    width: 4%;
}
.section_title_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    z-index: 3;
}

.section_bloc_content {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 93%;
}

.section_bloc {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.btn_square {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 0;
    transition: 0.3s;
}

/*////////////////////////////////MENU/////////////////////////*/
header {
    height: 50px;
    width: 100vw;
    position: fixed;
    display: flex;
    z-index: 100;
    background-image:linear-gradient(rgba(29, 28, 28, 0.9), rgba(10, 10, 10, 0.9)), url("../images/imgTrame.jpg");
}
.topbar_logo {
    width: 40%;
    padding-left: 20px;
    align-self: center;
}
.link_logo{
    color: white;
}
.navbar {
    width: 50%;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.navbar li{
    position: relative;
    min-width: 120px;
    height: 40px;
    text-align: center;
}
.navbar a {
    position: inherit;
    padding: 12px;
    top: 12px;
}
.navbar a:hover{
 font-size: 1.1em;
}
.main_menu_burger {
    display: none;
}
.square_apropos{
background-color: rgba(113,28,183,0.6);
}
.square_services{
background-color: rgba(204, 102, 33,0.6);
}
.square_comps{
    background-color: rgba(207, 74, 74,0.6);
}
.square_portefolio{
    background-color: rgba(109, 180, 111,0.6);
}
.square_contact{
    background-color: rgba(60, 109, 214,0.6);
}
/*////////////////////////////////ACCUEIL/////////////////////////*/
#accueil_bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(207, 74, 74, 0.5), rgba(113, 28, 183, 0.5)), url("../images/imgBGCode.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.accueil_title_bloc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 60vw;
    height: 85vh;
    overflow: hidden;
}

.accueil_title_firstName {
    display: flex;
    width: 25%;
    height: 80%;
    transition: 1s ease all;
    background-color:rgba(181,0, 172, 0.9);
    margin-right: 20%;
}

.accueil_title_firstName span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    margin: auto;
}

.accueil_title_dev {
    display: flex;
    width: 8%;
    height: 68%;
    margin: 0 10px;
    transition: 1s ease all;
transform: translateY(0);
    position: absolute;
    background-color: rgb(60, 109, 214,0.8);
}

.accueil_title_dev h2 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    margin: auto;
}

.accueil_title_lastName {
    display: flex;
    width: 25%;
    height: 80%;
    transition: 1s ease all;
    background-color:rgba(181,0, 172, 0.5);
}

.accueil_title_lastName span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    margin: auto;
}

/*////////////////////////////////A PROPOS/////////////////////////*/
#apropos_bloc{
    min-height: 100vh;
    background-image: linear-gradient(rgba(207, 74, 74, 0.5), rgba(113, 28, 183, 0.5)), url("../images/imgBGKeyboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section_apropos_content {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: max-content;
    padding: 35px;
    background-color: rgba(181, 0, 172,0.8);
}
#apropos_bloc .section_title_content{
    background-color: rgba(113,28,183,0.8);
}
.cv_btn_square{
    background-color: rgba(207, 74, 74, 1);
}
.cv_btn {
    position: absolute;
    width: 115px;
    height: 40px;
    bottom: -12px;
    right: 85px;
}
.cv_btn a:hover{
    font-size: 1.1em;
}

.link_cv {
    position: absolute;
    z-index: 1;
    padding-left: 25px;
    padding-top: 13px;
}

/*////////////////////////////////SERVICES/////////////////////////*/
#services_bloc {
    background-image: linear-gradient(rgba(254, 48, 49, 0.5), rgba(33, 124, 36, 0.5)), url("../images/imgBGScreen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#services_bloc .section_title_content{
    background-color: rgb(204, 102, 33,0.7);
}
.section_services {
    flex-flow: column;
}
.services_article {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.services_square {
    width: 140px;
    height: 140px;
    background-color: rgba(255, 215, 43,0.7);
}

.services_text {
    width: 70%;
    padding: 20px;
    background-color: white;
}

/*////////////////////////////////COMPETENCES/////////////////////////*/
#competences_bloc {
    background-image: linear-gradient(rgba(255, 215, 43, 0.5), rgba(204, 102, 33, 0.2)), url("../images/imgBGScreen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#competences_bloc .section_title_content{
    background-color: rgba(207, 74, 74, 0.8);
}
.comp_tech_bloc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100%;
}

.comp_fw_bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 100%;
}

.comp_tech_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 320px;
    position: relative;
    cursor: pointer;
}

.comp_tech_img {
    width: 100%;
    height: 100%;
    background-color:white;
    z-index: 2;
    pointer-events: none;
    transition: all ease 1s ;
    backface-visibility: hidden;
}

.comp_tech_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    pointer-events: none;
    transform: rotateY(180deg);
    transition: all ease 1s ;
}
.comp_tech_text h2{
    margin: 10px;
    color: black;
}
.comp_tech_text p{
    color: black;
}
.comp_fw_content {
    display: flex;
    justify-content: flex-end;
    width: 110px;
    height: 110px;
}
.fw_bs{
    background-color:rgba(255, 215, 43,0.5);
}
.fw_jq{
    background-color:rgba(207, 74, 74, 0.5)
}
.fw_wp{
    background-color: rgba(33,124,36,0.5);
}

.comp_fw_content h3 {
    font-size: 0.6em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
}

/*////////////////////////////////PORTEFOLIO/////////////////////////*/
#portefolio_bloc {
    background-image: linear-gradient(rgba(33, 124, 36, 0.5), rgba(33, 124, 36, 0.5)), url("../images/imgBGCode.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#portefolio_bloc .section_title_content{
    background-color: rgba(109, 180, 111, 0.6);
}
.portefolio_current {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72%;
    height: 90vh;
    background-color: rgba(25, 4, 177,0.2);
}

.portefolio_current img {
    width: 80%;
    height: 60%;
    background-color: wheat;
}

.portefolio_current article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 40%;
    background-color:rgba(33, 124, 36, 0.8); ;
}
.portefolio_current h2{
    margin:10px 0;
    padding: 10px;

}
.portefolio_current p{
    margin-bottom: 10px;
    padding: 10px;

}
.close_current_window{
    width: 0;
    height: 0;
    right: 0;
    border-top: 35px solid transparent;
    border-right: 25px solid rgba(207, 74, 74,1);
    border-bottom: 35px solid transparent;
    position: absolute;
}
.close_current_window:hover{
    border-right: 25px solid rgb(60, 109, 214);
}
.link_btn{
    width: 110px;
    height: 40px;
    position: relative;
}
.link_btn a {
    position: absolute;
    z-index: 1;
    padding-left: 20px;
    padding-top: 10px;
}

.portefolio_list {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 90vh;
    transition: all ease 0.5s;
}

.portefolio_project {
    position: relative;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.portefolio_project img {
   width: 100%;
   height: 100%;
}

.portefolio_project figcaption {
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transition: all ease 0.7s;
}
.portefolio_project:hover figcaption{
  opacity: 1;
}
.pagination_bloc{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    bottom: 0%;
}
.page{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgb(207, 74, 74);
    margin: 5px;
    cursor: pointer;
}
.page_active{
    background-color: rgb(60, 109, 214);
}
.elem_invisible{
    display: none;
}
/*////////////////////////////////CONTACT/////////////////////////*/
#contact_bloc {
    background-image: linear-gradient(rgba(109, 180, 111, 0.5), rgba(113, 28, 183, 0.5)), url("../images/imgBGScreen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 65vh;
}
#contact_bloc .section_title_content{
    background-color:rgba(60, 109, 214,0.8);
}
.contact_content{
    background-color:rgba(60, 109, 214,0.8);
    height: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    padding: 10px;
    border-right: 1px dotted black;
}


/*////////////////////////////////FOOTER/////////////////////////*/
footer {
    display: flex;
    justify-content: space-around;
    height: 150px;
   background-image:linear-gradient(rgba(29, 28, 28, 0.9), rgba(10, 10, 10, 0.9)), url("../images/imgTrame.jpg");
}
.social_content{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-evenly;
}
.apropos_site{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}