/*////////////////////////////////BODY/////////////////////////*/
@media all and (max-device-width: 768px) {
    .section_bloc_content {
        width: 100%;
        margin: 10px 0;
    }

    .section_title_bloc {
        width: 100%;
    }

    .section_bloc {
        flex-direction: column;
        align-items: center;
    }

    .section_title_content {
        width: 90%;
        height: 40px;
        writing-mode: initial;
        text-orientation: initial;
        margin: auto;
        margin-bottom: 20px;
    }

}

/*////////////////////////////////HEADER/////////////////////////*/
@media all and (max-width: 1000px) {
    .topbar_logo {
        width: 22%;
    }
}

@media all and (max-device-width: 768px) {
    .header {
        position: sticky;
    }

    .navbar {
        display: none;
    }

    .topbar_logo {
        margin-left: 5%;
        width: 86%;
    }

    .main_menu_burger {
        display: block;
        margin-top: 5px;
        width: 30%;
    }

    .nav_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #menu_checkbox {
        opacity: 0;
        position: absolute;
        width: 40px;
        height: 40px;
    }

    .menu-toggle {
        display: block;
    }

    .square_menu {
        width: 40px;
        height: 40px;
        background-color: turquoise;
    }

    .menu_burger {
        background-color: white;
        margin-top: 5px;
        height: 0;
        width: 100%;
        overflow: hidden;
    }

    .menu_burger li {
        border-top: 1px solid black;
        background-color: white;
        text-align: center;
        padding: 10px;
    }

    .menu_checkbox:checked~.menu_burger {
        height: 100%;
        transition: all ease 1s;
    }

    .menu-toggle {
        display: block;
    }
}

/*////////////////////////////////ACCUEIL/////////////////////////*/
@media all and (max-device-width: 768px) {
    .accueil_title_bloc {
        width: 100vw;
    }

    .accueil_title_firstName {
        margin-right: 20%;
    }
}

/*////////////////////////////////APROPOS/////////////////////////*/
@media all and (max-device-width: 768px) {

    .section_apropos_content {
        width: 80%;
        margin-bottom: 30px;
    }
}

/*////////////////////////////////SERVICES////////////////////////////*/
@media all and (max-device-width: 768px) {
    .services_article {
        width: 90%;
    }

    .services_square {
        display: none;
    }

    .services_text {
        width: 100%;
    }
}

/*////////////////////////////////COMPETENCES/////////////////////////*/
@media all and (max-device-width: 768px) {
    .competences_bloc_content {
        flex-direction: column;
    }

    .comp_tech_bloc {
        flex-flow: row wrap;
        width: 80%;
    }

    .comp_tech_content {
        margin-bottom: 10px;
    }

    .comp_fw_bloc {
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
    }
}

/*////////////////////////////////PORTEFOLIO/////////////////////////*/


@media all and (max-device-width: 1024px) {
    .portefolio_list_content {
        position: absolute;
    }

    .portefolio_current {
        z-index: 10;
    }
}

@media all and (max-device-width: 768px) {
    .portefolio_list_content {
        width: 80%;
    }

    .portefolio_bloc_content {
        height: 80vh;
    }

    .portefolio_project {
        width: 40vw;
    }

    .portefolio_current article {
        width: 100%;
    }

    .portefolio_current img {
        width: 100%;
    }
}

@media all and (max-device-width: 500px) {
    .portefolio_project {
        width: 40vw;
    }
}

@media all and (max-device-width: 375px) {

    .portefolio_list {
        flex-direction: column;
        align-content: center;
    }
    .portefolio_project {
        width: 43vw;
    }
}

/*////////////////////////////////CONTACT/////////////////////////*/
@media all and (max-device-width: 768px) {
    .contact_content {
        width: 65%;
    }
}

@media all and (max-device-width: 425px) {
    .contact_content a {
        font-size: 1em;
    }

    .contact_content {
        width: 78%;
    }
}

/*////////////////////////////////FOOTER/////////////////////////*/
@media all and (max-device-width: 768px) {
    footer {
        height: auto;
        padding: 10px;
    }
}